body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  opacity: 0;
}

table {
  border: 1px solid rgb(255, 255, 255);
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  margin: 2.2em auto auto auto;
}

th {
  background-color: #4ed0d1 !important;
  font-size: 1.1em !important;
  padding: 0 !important;
  color: #e0ffff !important;
}

td,
th {
  border: 1px solid #0c787a7e;
  padding: 0 1em 0 1em;
  background-color: #b7dddd33;
  font-size: 1em;
  color: #0a5f61;
}

img {
  position: absolute;
  left: 300px;
  width: 15em;
  bottom: 10em;
}