body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  opacity: 0;
}

table {
  border: 1px solid rgb(255, 255, 255);
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  margin: 2.2em auto auto auto;
  box-decoration-break: clone;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.623);
  width: 52em !important;
  margin-bottom: 4em;
}

th {
  background-color: #4ed0d1 !important;
  font-size: 1.1em !important;
  padding: 0 !important;
  color: #e0ffff !important;
}

td,
th {
  border: 1px solid #0c787a7e;
  padding: 0 1em 0 1em;
  background-color: #b7dddd33;
  font-size: 1em;
  color: #0a5f61;
}

td p,
th p {
  margin: 0.3em;
}

.header {
  display: flex;
  background-color: #4ed1d1de;
  align-items: flex-end;
  flex-direction: row-reverse;
}

.logo {
  position: relative;
  margin: 0 0 0 auto;
  left: 2.2em;
  font-family: "Bangers", cursive !important;
  font-size: 2em;
  color: #f5fdfd;
  opacity: 0;
}

.logo p {
  margin: 0.5em;
}

.navBar {
  display: inline;
  margin-right: 1em;
}

.logoImg {
  width: 3.4em;
  position: relative;
  margin: 0 auto 0.3em 2em;
  left: 1.7em;
  opacity: 0;
}

option {
  background-color: #4ed1d1de;
  color: #f5fdfd;
  text-align: center;
}

select {
  background-color: #4ed1d1de;
  border: 1px solid #f5fdfd;
  outline: none;
  color: #f5fdfd;
  padding: 0.2em;
  border-radius: 1em;
  margin-bottom: 0.3em;
  text-align-last: center;
  width: 7em;
  cursor: pointer;
}

.disabledOption {
  background-color: #45b6b6de;
  color: #f5fdfd !important;
}

@media screen and (max-width: 420px) {
  table {
    width: 420px;
  }

  td,
  th {
    padding: 0;
    margin: 0;
  }

  td p,
  th p {
    padding: 0;
    margin: 0;
  }
}